/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8FAFC;
}

.container {
    /* max-width: 600px; */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form,
.profile-page {
    /* display: none; */
}

.error-message {
    color: blue;
}

.error-message.error-message {  /* Add this line */
    color: red;
}

.success-message {
    color: green;
}
